* {
  color: #F8F8F8;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
body {
  margin: 0;
  background-color: #F8F8F8;
}
canvas {
  display: block;
  cursor: crosshair;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#toolbar {
  width: 100%;
  height: 50px;
  padding: 10px;
  padding-right: 5px;
  padding-left: 0;
  position: fixed;
  top: 0;
  background-color: #383838;
  color: #F8F8F8;
  cursor: default;
}
#goBack {
  padding: 5px;
  float: left;
}
#goBack a {
  text-decoration: none;
}
#colors {
  float: right;
}
.swatch {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5),
  0px 2px 2px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin-left: 5px;
}
.swatch.active {
  border: 2px solid #F8F8F8;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}
