*{
	margin: 0;
}
html, body  {
	height: 100%;
	background-color: rgb(203, 233, 254);
}
marquee {
	font-weight: bold;
	font-size: 24pt;
	color: rgb(255, 0, 0);
	font-style: italic;
	height: 37px;
	width: 100%;
	background-color: rgb(203, 233, 254);
}
p {
	font-family: "Comic Sans MS";
  font-weight: bold;
  font-size: large;
}
a {
	font-size: 22pt;
	font-family: "Comic Sans MS";
	font-weight: bold;
	text-decoration: overline;
}
h3 {
	font-family: "Comic Sans MS";
	font-weight: italic;
	text-align: center;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -6em;
}
#flameOn {
  background-repeat: repeat-x;
  background-image: url("../media/flames.gif");
  width: 100%;
	height: 100px;
	position: fixed;
	bottom: 0;
}
