/* Footer style starts */
html {
  position: relative;
  min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
    background-color: #F8F8F8;
}
.heading {
  color: #383838;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 300%;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}

#iedisclaimer {
  text-align: right;
  margin-bottom: 0;
  margin-right: 5px;
  margin-top: 0;
}
.subfoot-top {
  background-color: #282828;
}
.subfoot-top div {
  display: inline-block;
  padding-left: 4%;
  padding-right: 4%;
  align-content: center;
  background-color: #282828;
  color: white;
}
.subfoot-top h3 {
  text-align: center;
}
.subfoot-top a {
    text-decoration: none;
    align-content: center;
    color: white;
}
.subfoot-top ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.subfoot-top li {
  padding: 15px;
}
.footItem {
  align-content: center;
}
footer {
  font-size: 80%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 112px;
  width: 100%;

}
footer div {
  background-color: #181818;
  text-align: center;
  padding-bottom: 5px;
  color: white;
}
footer div a {
  text-decoration: none;
  color: white;
}
/* footer style ends */
