* {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
html, body {
    border: 0;
    padding: 0;
    margin: 0;
    height: 100%;
}
#theremin {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #383838;
  cursor: crosshair;
}
#toolbar {
  width: 100%;
  height: 40px;
  padding: 5px;
  position: fixed;
  top: 0;
  background-color: #585858;
  color: #F8F8F8;
}
#goBack {
  margin: 5px;
  float: left;
}
#goBack a {
  text-decoration: none;
  color: #F8F8F8;
}
#soundType {
  float: right;
  cursor: default;
}
#radioButton {
  float: right;
  width: 120px;
  height: 30px;
  background-color: #686868;
  color: #F8F8F8;
}
