* {
  color: #F8F8F8;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
html, body {
    margin: 0;
    height: 100%;
}
body {
  background-color: #F8F8F8;
}
canvas {
  display: block;
}
#toolbar {
  width: 100%;
  height: 40px;
  padding: 10px;
  position: fixed;
  top: 0;
  background-color: #383838;
  color: #F8F8F8;
}
#goBack {
  float: left;
}
#goBack a {
  text-decoration: none;
}
#clear {
  float: right;
  border: solid 1px #484848;
  cursor: default;
}
